# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Base de données locale
db.sqlite3

# Fichiers d'environnement virtuel
venv/
env/

# Fichier contenant les variables d'environnement sensibles
.env

# Dossiers spécifiques à l'IDE
.vscode/
.idea/

# Logs
*.log
.logs/

# Dossiers de statiques générées par collectstatic
staticfiles/

# fichier de configuration de flake8, black et isort
.flake8
pyproject.toml